<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Hello, world!</title>


    <link rel ="stylesheet" href="/public/main.css">
    <link rel = "stylesheet" type="text/css" href= "/public/css/thread_view.css">
    <link rel = "stylesheet" type="text/css" href= "/public/css/content.css">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


    <%- include('nav.ejs') %>

<div class = "article_area">
<div class = "thread_title"><%=thread_list(postData.thread_id)%> 스레드</div>

    <div class= "content_view_box">
      <div class= "content_title_box">
        <%= postData.post_name %>
      </div>
      <div class= "content_info_box">
        <span class = "content_user_info"><%=postData.usr_Nname%></span>
        <span class = "content_comment">댓글: <%=postData.comment%></span>
        <span class = "content_viewer">조회수: <%=postData.post_Viewer%></span>
        <span class = "content_todate">작성일: <%=gotime(postData.date)%></span>
      </div>
      <div class = "content_context_box"></div> <!--<%=postData.post_context%>-->
      <input type = "hidden" class = "hiddenContext" value = "<%=postData.post_context%>">
      <div class = "content_voteRecommend"><button class = "voteRecommend_position">추천</button></div>
      <div class = "content_mainFunction"> <button class = "function_position postModify">수정</button> <button class = "function_position postDelete">삭제</button></div>
    </div>
    <div class = "content_commentArea">
<% for (var i = 0; i < comment.length; i++){ if (comment[i].connection_id == 0 ){%>
      <div class = "comment_box mother comment_<%=comment[i].comment_id%>" number = '<%=comment[i].comment_id%>' depth='0'>
          <div class = "info-line"> <%=comment[i].usr_Nname%>
          <div class = "float_right"> 날짜 <%=comment[i].date%> | <a class = 'repPage' number='<%=comment[i].comment_id%>' href='#' status='0'>답글</a></div></div>
          <div class = "comment_context"><%=comment[i].comment_context%></div>
      </div>
      <%}}%>
     
    </div>



    <% if (userData){ %>
    <div class = "content_commentWriteArea"> 댓글을 작성하십시오
      <div class = "commentWriteInfo">사용자 정보</div>
      <div class = "inputComment"><textarea class = 'textContext'></textarea><div class ="float_right"><button class = "commentSend">작성</button></div></div>

    </div>
    
    <%}%>
    


    <div class= thread_view_area>


      <div class=postFixed>
          <span class= "postNumber">글번호</span>
          <span class= "postTitle">글제목</span>
          <span class= "postAuthor">작성자</span>
          <span class= "postTime">작성일</span>
          <span class= "postView">조회수</span>
          
      </div>
        <div class=postList>
          <%for(i=0; i<postlist.length; i++){ 
            if (postlist[i].post_id == postData.post_id) { %>
          <a class = content_row_same href = "<%= postlist[i].post_id %>"><%}%>
            <% if (postlist[i].post_id != postData.post_id) {%>
          <a class = content_row href = "<%= postlist[i].post_id %>"><%}%>
          <span class= "postNumber"><%=postlist[i].post_id%></span>
          <span class= "postTitle"><%=postlist[i].post_name%></span>
          <span class= "postAuthor"><%=postlist[i].usr_Nname%></span>
          <span class= "postTime"><%=gotime(postlist[i].date)%></span>
          <span class= "postView"><%=postlist[i].post_Viewer%></span>
          </a> <%}%>

        </div>
       

    </div>
  </div>

      

  <script>





$(document).ready(function(){

var contextData = $('.hiddenContext').val();
$('.content_context_box').html(contextData);
// var chang = document.getElementsByClassName('content_context_box');
// chang[0].innerHTML = contextData; 

// DB에 저장된부분을 hiddenContext로 받아, View상에 뿌려줌.

})

$.ajax({
    method : 'POST',
    url : '/comment/getComment/',
    data : { postId : '<%=postData.post_id%>'}
}).done(function(rep){

for (var depthNum=0; depthNum<= 10; depthNum++){

for (var parent=0; parent<rep.PList.length; parent++){

for (var child=0; child<rep.CList.length; child++){

if (rep.CList[child].depth == depthNum && rep.CList[child].connection_id == rep.PList[parent].comment_id){

//console.log (rep.CList[child].comment_context + '는' + rep.PList[parent].comment_context + '의 답글입니다.');

//$('.comment_'+rep.PList[parent].comment_id).append(rep.CList[child].comment_context);// 이렇게 하면, 해당 comment 요소의 끝에 들어감. 하지만, 아래 새로운 div를 갱신해야함
$('.comment_'+rep.PList[parent].comment_id).append("<div class = 'comment_box comment_"+rep.CList[child].comment_id+"' number = "+parseInt(rep.CList[child].comment_id)+" depth = '"+rep.CList[child].depth+"' style='padding-left:"+depthNum*30+"px;'><div class = 'info-line'>"+rep.CList[child].usr_Nname+"<div class = 'float_right'> 날짜 "+rep.CList[child].date+"|<a class = 'repPage' href='#' status='0' number = "+rep.CList[child].comment_id+" >답글</a></div></div><div class='comment_context'>"+rep.CList[child].comment_context+"</div></div>");

}

}

}

}


})

$('.commentSend').click(function(e){

var insertText = $('.textContext').val(); 


if (insertText){

  $.ajax({ method : 'POST',
           url : '/comment/commentSend',
           data : {postId : '<%=postData.post_id%>',
                   textData : insertText}})
                   .done(function(rep){

                    alert( '작성완료');
                    location.reload();
                   })
          }

else { alert ( '텍스트를 입력하세요 ')}
}) 

$('.postDelete').click(function(e){


location.replace("/thread/deleteCheck/<%=postData.post_id%>")


  /*$.ajax({
            method : 'POST',
            url : '/thread/thread<%=postData.thread_id%>/deleteCheck',
            data : { postId : "<%=postData.post_id%>",
                     userId : "<%=postData.usr_id%>" } // 123을 /delete 경로로 보낸다. , req.body로 받는다. , 즉 위의 postoren이 server.js의 req.body._id가 됨.
            // _id_a 는 오브젝트id 

          })*/


})
var sendNum;
$(document).on("click", ".repPage", (function(e){

  if ($(e.target).attr('status') == "0" ){

    //alert("열렸습니다.");
    
    $(e.target).attr('status', 1) // attr 변경
    var i = $(e.target).attr('number')
    $(e.target).parents('.comment_'+$(e.target).attr('number')).append("<div class = 'repbox' number ='"+i+"'style='padding-left: 30px;'><textarea class='textContext'></textarea><div class = 'float_right'><button class='repSend'>작성</button></div></div>");
    //console.log("클릭한거"+JSON.stringify(i));// length 수치, number에 기록된 표현식을 거꾸로 읽어버린게 확인됐음.
    //console.log("클릭한거"+i);
  }
  else { //alert("닫혔습니다.")
        $(e.target).attr('status',0)
        $(e.target).parents('.comment_'+$(e.target).attr('number')).children('.repbox').remove('.repbox');
      
      }
}));


$(document).on("click", ".repSend", (function(e){


if ( $(e.target).parents('.repbox').children('.textContext').val()){


//console.log($(e.target).parents('.repbox').children('.textContext').val());
  $.ajax({
        method :  'POST',
        url : '/comment/repSend',
        data : {postId : '<%=postData.post_id%>',
                textData : $(e.target).parents('.repbox').children('.textContext').val(),
                parentId : $(e.target).parents('.mother').attr('number'),
                depthHelp : $(e.target).parents('.repbox').attr('number'),
                
  }}).done(function(rep){  location.reload();  })


}
else { alert ("내용을 입력하세요");}

}))
  </script>

        </script>


      <!-- EJS를 사용해서 GET요청 해서 데이터 받아오기-->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    
  </body>
</html>