<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>스레드입니다</title>


    <link rel ="stylesheet" href="/public/main.css">
    <link rel = "stylesheet" type="text/css" href= "/public/css/thread_view.css">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../public/js/timestamp.js"></script>
    <script>
      
    </script>
    <%- include('nav.ejs') %>


    <div class= article_area>
    <div class= thread_title>

    </div>
    <div class= debate_area></div>

    
    <div class= thread_view_area>


      <div class=postFixed>
          <span class= "postNumber">글번호</span>
          <span class= "postTitle">글제목</span>
          <span class= "postAuthor">작성자</span>
          <span class= "postTime">작성일</span>
          <span class= "postView">조회수</span>
          
      </div>
        <div class=postList>
          <%for(i=0; i<postlist.length; i++){ %>
          <a class = content_row href = "thread<%=postlist[0].thread_id%>/<%= postlist[i].post_id %>">
          <span class= "postNumber"><%=postlist[i].post_id%></span>
          <span class= "postTitle"><%=postlist[i].post_name%></span>
          <span class= "postAuthor"><%=postlist[i].usr_Nname%></span>
          <span class= "postTime"><%=gotime(postlist[i].date)%></span>
          <span class= "postView"><%=postlist[i].post_Viewer%></span>
          </a> <%}%>

        </div>
       

    </div>

    <% if (userdata){%><div class = "float_right">
    <a class= "thread_write" href="thread<%=thread_data%>/postWrite">글쓰기</a></div><%}%>
  </div>
 
    
      



        </script>

        
      <!-- EJS를 사용해서 GET요청 해서 데이터 받아오기-->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    
  </body>
</html>