<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel = "stylesheet" type="text/css" href= "public/css/thread.css">
    <title>스레드 목록</title>
  </head>
  <body>
    <%- include('nav.ejs') %>

      스레드 목록
    <div class = "thread_box" >

      <% for (var i =0; i < threads_info.length; i++){ %>

      <div class = "thread_search" >
      <div class = "thread_title">
      <a href = "thread<%= threads_info[i].thread_id %>">  
      <%= threads_info[i].thread_name%> 스레드</a>  </div><b>&nbsp&nbsp|</b>
      <div class = "thread_context"><%= threads_info[i].thread_context%></div><b>&nbsp&nbsp|</b>
      <div class = "thread_member">참가자: <%=threads_info[i].thread_usrNum%> </div><b>&nbsp&nbsp|</b>
      <div class = "thread_admin">관리자 : <%=threads_info[i].usr_id%></div><b>&nbsp&nbsp|</b>
      <span class = "thread_enter<%=threads_info[i].thread_id%>" sam="<%=threads_info[i].thread_id%>" id ="thread_enter" data-talk =" 1" data-id="<%=threads_info[i].thread_id%>"><a class = 'beJoin' href='#'> 참가</a></span> 
       
      
      </div>
      <% } %>
    </div>

    <script>
     
      $(document).ready(function(){

        $.ajax ({
          method : 'POST',
          url : '/thread/threadJoinFunc'
        }).done(function(rep){
          if ( rep.result == "ok"){
          
          for (var y = 1; y<= rep.threadPage; y++){ //y 가 스레드 종류 순서, i가 유저 데이터 순서
          for (var i = 0; i< rep.threadNum.length; i++){ //threadNum = 유저 스레드 데이터 , 스레드의 최대값이 필요함.
            //var datab = '<%=threads_info[0].thread_id%>';
            var datab = $(".thread_enter"+y).data('id');
           // console.log (parseInt(datab));
            if (rep.threadNum[i] == parseInt(datab)){
              
              $('.thread_enter'+datab).html("<a class = 'brexit' data-page = '"+y+"' data-object = '"+i+"' href='#'>탈퇴</a>");// i는 배열안 id값이 아닌 배열의 주소임  0[주소] : 1[오버워치], router 파일에서 색인할 때 주소로 대입해야함.
            }
            //else { console.log(rep.threadNum[i] + " 는" +parseInt(datab)); $('.thread_enter'+datab).html("<a class = 'beJoin' data-page = '"+y+"' data-object = '"+i+"' href='#'>참가</a>"); } // 이건 y가 배열주소가 아닌 id값임.

          }
          
        }

      }
        })
      
      })

      $(document).on("click", ".brexit", function(e){

        var dataFor = e.target.dataset.object;
        var dataPage = e.target.dataset.page;
        // var threadId = $(e.target).parent(); 클릭 한 것의 (e.target) 부모 요소 선택
        // var threadId = $(e.target).parents("#thread_enter").html("하이하이"); // 특정 부모요소 선택
        //var threadId = $(e.target).parents("#thread_enter").attr('class'); // 부모 클래스 선택
        var threadId = $(e.target).parents("#thread_enter").attr('sam'); // sam이라는 attr를 부모 id에 추가해서 선택함.
        console.log(threadId);
        // console.log(dataFor);
        
        $.ajax({
                method : 'POST',
                url : './brexit',
                data : {postId : threadId}
        }).done(function(rep){
          location.reload();
        })
      })

      $(document).on("click", ".beJoin", function(e){

      // var dataFor = e.target.dataset.object;
      // var dataPage = e.target.dataset.page;
      var threadId = $(e.target).parents("#thread_enter").attr('sam');

      $.ajax({
              method : 'POST',
              url : './beJoin',
              data : {postId : threadId}
      }).done(function(rep){
        location.reload();
      })
      })
    </script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    
  </body>
</html>